body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#nav {
  display: flex;
  width: 100%;
  height: 49px;
  background-color: rgb(52, 58, 64);
  justify-content: flex-start;
  align-items: center;
}

#nav a {
  color: white;
  display: flex;
  line-height: inherit;
  white-space: nowrap;
  text-decoration: none;
  background-color: initial;
  box-sizing: border-box;
  cursor: pointer;
  font: 20px Century Gothic,Futura,sans-serif;
  text-align: left;
  padding-left: 82px;
}

#main-wrapper{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: auto;
}

#header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 100%;
}

#root{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  font-size: x-large;
}

#app-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.labels{
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  font-weight: 600;
}

.controls-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#break-container {
  width: 50%;
  height: 100px;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

#session-container {
  width: 50%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#break-length, #session-length {
  min-width: 26px;
  text-align: center;
}

#break-decrement, #session-decrement {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  font-size: 20px;
}

#break-increment, #session-increment {
  width: 50px;
  height: 50px;
  margin-left: 20px;
  font-size: 20px;
}

#timer-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#time-left {
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#start_stop {
  width: 100px;
  height: 40px;
  margin-right: 20px;
  font-size: x-large;
  font-weight: 600;
}

#reset {
  width: 100px;
  height: 40px;
  font-size: x-large;
  font-weight: 600;
}

@media (max-width: 767px) {
  #root {
    width: 98%;
    font-size: larger;
  }
}

